@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    --clr-black: hsl(212, 21%, 14%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-gray: hsl(228, 12%, 48%);
    --clr-green: hsl(158, 36%, 37%);
}

body {
    background-color: var(--clr-cream);
    min-height: 100vh;

    margin: 0;
    padding: 0;
}

main {
    display: grid;
    place-content: center;

    min-height: 100vh;
}

div.card {
    width: 343px;
    min-height: 611px;

    background-color: white;
    border-radius: 8px;
}

div.product__image {
    width: 100%;
    min-height: 240px;

    background-color: white;
    background-image: url("/public/images/product-mobile.jpg");
    background-size: contain;
    border-radius: 8px 8px 0 0;
}

div.product__info {
    margin: 1.5em 1.4375em;
    padding: 0;

    font-family: 'Montserrat';
}

div.product__info > span:first-of-type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 100%;

    text-transform: uppercase;
    letter-spacing: 0.32em;

    color: var(--clr-gray);
}

div.product__info h1 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;

    color: var(--clr-black);

    margin: 0;
    margin-top: 0.375em;
}

div.product__info > p:first-of-type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 162%;

    color: var(--clr-gray);

    margin: 1rem 0 0;
    padding-right: 0.25em;
}

div.product__price {
    width: 100%;
    margin-top: 1.5em;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: left;
    gap: 0.9375em;
}

div.product__price > div.price__discount {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;

    color: var(--clr-green);
}

div.product__price > div.price__actual {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 100%;

    letter-spacing: -0.03em;
    text-decoration-line: line-through;

    color: var(--clr-gray);
}

div.product__price + button {
    width: 100%;
    min-height: 48px;

    margin: 1.4285em 0 0;
    padding: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:  0.875rem;
    line-height: 100%;

    background-color: var(--clr-green);
    border: none;
    border-radius: 8px;
    color: white;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 0.785em;
}